.nice-input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-top: 1.5rem;
  label {
    pointer-events: none;
    position: absolute 0 auto auto 0;
    z-index: 1;
    padding: 0.5rem 1rem;
    transition: transform 150ms;
    transform-origin: left;
    transform: translate(0, 0) scale(1);
    &::after {
      margin-left: 0.5em;
    }
  }
  &>.border {
    pointer-events: none;
    display: block;
    position: absolute 0;
    background: transparent;
    border-radius: 5px;
    z-index: 0;
    box-sizing: content-box;
    padding: 1px;
    margin: -1px;
    transition: transform 100ms;
    transform: scaleX(0);
  }
  input, textarea {
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem;
    color: #555555;
    background-color: #f8faff;
    background-image: none;
    border: 1px solid #eef0f7;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    &::placeholder {
      opacity: 0;
      color: var(--text-color);
      transition: opacity 50ms;
    }
    &:focus {
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
      & ~ label {
        color: #8e43e7;
        pointer-events: all;
        transform: translate(-0.5em, -85%) scale(0.66);
      }
      & ~ .border {
        background-image: linear-gradient(to bottom right, #8e43e7 0%, #3369e7, #00aeff 100%);
        transform: scaleX(1);
      }
      &::placeholder {
        opacity: 0.5;
      }
    }
    &:not(:focus):not(:placeholder-shown):invalid {
      background: #fcf1f4;
      & ~ label {
        color: #d95560;
        pointer-events: all;
        transform: translate(-0.5em, -85%) scale(0.66);
        &:after {
          content: "✗";
        }
      }
      & ~ .border {
        background-color: #d95560;
        transform: scaleX(1);
      }
    }
    &:not(:focus):not(:placeholder-shown):valid {
      background: #f1fcf6;
      & ~ label {
        color: #55d98c;
        pointer-events: all;
        transform: translate(-0.5em, -85%) scale(0.66);
        &:after {
          content: "✓";
        }
      }
      & ~ .border {
        background-color: #55d98c;
        transform: scaleX(1);
      }
    }
  }
  textarea {
    padding: 1rem;
  }
}
 