footer {
  background: linear-gradient(315deg,#10192a 0,#161d29 100%);
  background-size: contain;
  text-align: center;
  padding: 6em;
  margin: 6em 0 0 0;
  
  @media (max-width: 480px) {
    padding: 3em;
  }
}