.project-form {
  max-width: 48rem;
  padding: 0 3rem;
  margin: 6rem auto;
  >form {
    padding: 3rem;
    box-shadow: 0 16px 32px 0 rgba(62,57,107,0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    background-color: white;
    border-radius: 0.33em;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute 0 0 auto 0;
      height: 0.33em;
      background-image: linear-gradient(256deg, #00aeff, #3369e7);
    }
    >h2 {
      grid-column: 1/-1;
      text-align: center;
    }
  
    >.description,
    >.thumbnail {
      grid-column: 1/-1;
    }
  
    >.actions {
      grid-column: 1/-1;
      text-align: center;
    }
    >* {
      margin-top: 1em;
      &:first-child {
        margin-top: 0;
      }
    }
    @media (max-width: 640px) {
      padding: 3rem 1.5rem;
      >* {
        grid-column: 1/-1;
      }
    }
  }
  
  @media (max-width: 640px) {
    padding: 0 1.5rem;
  }
  >.thanks {
    text-align: center;
  }
}
 