.project {
  background-color: white;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
  >.img {
    background-color: var(--text-color);
    padding-top: 56.25%;
    background-position: center;
    background-size: cover;
  }
  >.info {
    padding: 1rem;
    >.description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
 