.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  background: #f8faff;
  padding: 0 3em;
  margin: 0 0 6rem 0;
  min-height: 9rem;
  &::before {
    content: '';
    display: block;
    position: absolute -100px 0 auto 0;
    height: 16rem;
    width: 100%;
    background: #f8faff;
    transform: skewY(-6deg) scaleX(1.2);
    box-shadow: 0 -16px 32px -12px rgba(62,57,107,0.33);
    @media (max-width: 480px) {
      position: absolute -50px 0 auto 0;
      height: 8rem;
    }
  }
  >.spinner {
    margin: 6em auto;
  }
  >.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 2;
    padding: 3em 0;
    >.grid {
      width: 100%;
      max-width: 1280px;
      margin: 3em auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3em;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 740px) {
        grid-template-columns: 1fr;
        max-width: 32em;
      }
      @media (max-width: 480px) {
        grid-gap: 1.5em;
      }
      >.empty {
        margin: 3em auto;
        text-align: center;
        grid-column: 1/-1;
      }
    }
    
    @media (max-width: 740px) {
      padding: 0;
    }
  }
  @media (max-width: 480px) {
    padding: 1.5em;
  }
}
