/* You can use the latest css has to offer,
nested selectors and rucksack shortcuts */

/*------------------------------------*\
    Global
\*------------------------------------*/

:root {
	--text-color: #8994c6;
	--dark-text-color: #3e396b;
	--background-color: #f8faff;
	--border-color: #e7e9ed;
	--accent-color: #5755d9;
}

body {
  font-family: 'Nunito', sans-serif;
	font-size: responsive;
	color: var(--text-color);
	background-color: var(--background-color);
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  
}



h1, h2, h3, h4, h5, h6 {
  color: var(--dark-text-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  &:first-child {
    margin-top: 0;
  }
}

button, input, select, textarea {
  color: inherit;
  margin-top: 1rem;
  padding: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

img {
  max-width: 100%;
}

::selection {
	background: var(--accent-color);
	color: white;
	text-shadow: none;
}

.intro {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 3rem 20rem 3rem;
  background-color: white;
  min-height: 66vh;
  >h1 {
    font-size: 3.2rem;
  }
  >h2 {
    color: var(--text-color);
    font-size: 1.6rem;
  }
  &::after {
    content: '';
    display: block;
    position: absolute auto 0 -150px 0;
    width: 100%;
    height: 20rem;
    background: #f8faff;
    transform: skewY(-6deg);
    box-shadow: 0 -6px 32px rgba(62,57,107,0.1);
  }
}



.listing {
  position: relative;
  z-index: 1;
  background: #f8faff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 3rem;
}
