main {
  position: relative;
  z-index: 1;
  background: #f8faff;
  padding: 3rem;
  margin: 0 0 6rem 0;
  >.projects {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
}