/*------------------------------------*\
    Global
\*------------------------------------*/

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'), url(../assets/Nunito/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(../assets/Nunito/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(../assets/Nunito/Nunito-Bold.ttf) format('truetype');
}

:root {
	--text-color: #8994c6;
	--dark-text-color: #3e396b;
	--background-color: #f8faff;
	--border-color: #e7e9ed;
	--accent-color: #5755d9;
}

html {
	font-size: responsive 14px 20px;
  font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-text-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  &:first-child {
    margin-top: 0;
  }
}

button, input, select, textarea {
  color: inherit;
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

svg {
  fill: none;
}

::selection {
	background: var(--accent-color);
	color: white;
	text-shadow: none;
}

a {
	color: var(--text-color);
}
