.spinner {
  animation: loading .5s infinite linear;
  border: 0.1em solid currentColor;
  border-radius: 1em;
  border-right-color: transparent;
  border-top-color: transparent;
  display: block;
  height: 1em;
  width: 1em;
  z-index: 1;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}