header {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9em 3em 12em 3em;
  background-color: white;

  background-image: linear-gradient(73deg, #3369E7, #00AEFF);
  
  >h1 {
    font-size: 2.4em;
    color: white;
  }
  >h2 {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: 400;
    color: white;
  }
  >.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    >* {
      margin: 0 1rem;
    }
  }
}