.project-form {
  max-width: 48rem;
  padding: 0 3rem;
  margin: 6rem auto;
}
.project-form .box {
  padding: 3rem;
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.2);
  background-color: white;
  border-radius: 0.33em;
  overflow: hidden;
  position: relative;
}
.project-form .box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: 0.33em;
  background-image: linear-gradient(256deg, #00aeff, #3369e7);
}
.project-form .box.success::before {
  background-image: linear-gradient(256deg, #1cc7d0, #2dde98);
}
@media (max-width: 640px) {
  .project-form .box.success::before {
    padding: 0;
  }
}

.project-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
.project-form form h2 {
  grid-column: 1/-1;
  text-align: center;
}

.project-form form .description,
.project-form form .image {
  grid-column: 1/-1;
}

.project-form form .actions {
  grid-column: 1/-1;
  text-align: center;
}
.project-form form .actions>*:not(:last-child) {
  margin-right: 1.5rem;
}
@media (max-width: 740px) {
  .project-form form .actions>* {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-form form .actions>*:not(:last-child) {
    margin: 0 0 1.5rem 0;
  }
}

.project-form form * {
  margin-top: 1em;
}
.project-form form *:first-child {
  margin-top: 0;
}
@media (max-width: 640px) {
  .project-form form {
    padding: 3rem 1.5rem;
  }
  .project-form form >* {
    grid-column: 1/-1;
  }
}

.project-form .loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}

.project-form .thanks {
  text-align: center;
}
.project-form .thanks svg {
  width: 6rem;
  height: auto;
  margin: 3rem 0;
  stroke: none;
  fill: #2dde98;
}
.project-form .error {
  text-align: center;
  color: var(--error-color);
}
@media (max-width: 640px) {
.project-form .error {
    padding: 0 1.5rem;
  }
}
