.pill-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  border: none;
  color: #fff;
  background-image: linear-gradient(80deg, #00aeff, #3369e7);
  box-shadow: 0 2px 6px 0 rgba(5,15,44,0.5);
  border-radius: 5rem;
  padding: 0.75rem 2rem;
  transform: scale(1);
  transition: transform 100ms;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    outline: none;
    transform: scale(0.95);
    transition-duration: 25ms;
  }
  &:focus {
    outline: none;
  }
  &[big] {
    padding: 1rem 3rem;
  }
  &[long] {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  &[green] {
    background-image: linear-gradient(284deg, #1cc7d0, #2dde98);
  }
  &[white] {
    background: white;
    color: #3369e7;
  }
  >* {
    margin-left: 1em;
  }
}
 