/*------------------------------------*\
  Global css
\*------------------------------------*/

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Light'), local('Nunito-Light'), url('../static/Nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url('../static/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'), url('../static/Nunito/Nunito-Bold.ttf') format('truetype');
}



/* === Global variables === */
:root {
	--text-color: #8994c6;
	--dark-text-color: #3e396b;
	--background-color: #f8faff;
	--border-color: #e7e9ed;
	--accent-color: #5755d9;
	--success-color: #55d98c;
	--error-color: #d95560;
}


/* === Default cascade === */
*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
  font-size: calc(14px + 6*(100vw - 420px)/860);
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 20px;
  }
}

body {
  position: relative;
  overflow-x: hidden;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}

a {
	color: var(--text-color);
  cursor: pointer;
}


h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-text-color);
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
  margin-top: 0;
}
