.project-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 100%;

}

@media (max-width: 1280px) {
  .project-content {
    grid-gap: 1.5em;
  }
}


@media (max-width: 740px) {
  .project-content .img,
  .project-content .info,
  .project-content .description {
    grid-column: 1/-1;
  }
  .project-content .description .info .nav-btns {
    padding: 1em 1em 0 1em;
  }
  .project-content .description .info .nav-btns .left svg,
  .project-content .description .info .nav-btns .right svg {
    width: 2rem;
    height: 2rem;
  }
}


.project-content .info {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}
.project-content .info h2 {
  margin-top: 1rem;
}
.project-content .info a>svg {
  margin-right: 0.5em;
}
.project-content .info .nav-btns {
  padding: 1em;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-content .info .nav-btns .left,
.project-content .info .nav-btns .right {
      cursor: pointer;
}
.project-content .info .nav-btns .left svg,
.project-content .info .nav-btns .right svg {
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.project-content .info .left {
  margin-right: auto;
}
.project-content .info .right {
  margin-left: auto;
}



.project-content .description {
  grid-column: 1/3;
  position: relative;
  padding: 1em 1.5em;
  background-color: var(--background-color);
  border-radius: 0.15rem;
  overflow: hidden;
}

.project-content .description::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.15rem;
  height: 100%;
  background: linear-gradient(315deg,#b06ab3 0,#4568dc 100%);
}

@media (max-width: 740px) {
  .project-content {
    grid-template-columns: 1fr;
  }
}



.project-content .img {
  grid-column: 1;
  background-color: var(--background-color);
  padding-top: 66.66%;
  border-radius: 0.25em;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
  overflow: hidden;
  position: relative;
}

.project-content .img >img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
